:root {
  --kandaysbln-modal-z-index: 1000;
  --kandaysbln-modal-content-bg: #fff;
  --kandaysbln-overlay-bg: rgb(0 0 0 / 70%);
  --kandaysbln-duration: 0.2s;

  /*BUTTON COLORS*/
  --kandaysbln-cancel-button-background-color: #000;
  --kandaysbln-cancel-button-text-color: #fff;

  --kandaysbln-accept-button-background-color: #000;
  --kandaysbln-accept-button-text-color: #fff;
}
